apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: "https://vault.adryan.me"
      path: "kv"
      version: "v2"
      auth:
        tokenSecretRef:
          name: "vault-policy-token"
          key: "token"
          namespace: "vault"
